/* alineamos los div al centro */
div {
  text-align: center;
}

/* Genramos la animacion por si gana */
small {
  animation: mymove 2s infinite;
}

@keyframes mymove {
  0% {
    font-size: 1rem;
  }
  50% {
    font-size: 2rem;
  }
}
